<div class="max-w-xs mx-auto">
  <h1 class="text-white text-4xl m-4 text-center dancing-script">New Gif</h1>

  <div class="w-full max-w-xs mx-auto form">
    <%= render 'form', gif: @gif %>
  </div>
</div>