@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.dancing-script{
  font-family: 'Dancing Script', cursive !important;
}

.btn{
  @apply shadow text-white font-bold py-2 px-4;
}

.btn-purple{
  @apply bg-purple-500;
}

.btn-purple:hover{
  @apply bg-purple-400;
}

.btn-pink{
  @apply bg-pink-600;
}

.btn-pink:hover{
  @apply bg-pink-400;
}

.btn-red{
  @apply bg-red-600;
}

.btn-red:hover{
  @apply bg-red-400;
}

.link-purple:hover{
  @apply text-purple-600
}

.btn-purple:focus{
  @apply shadow-outline outline-none bg-white;
}

.form-control{
  @apply bg-gray-200 appearance-none border-2 border-gray-200 py-2 px-4 text-gray-700 leading-tight 
}

.form-control:focus{
  @apply outline-none bg-white border-purple-500;
}

.form{
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4
}

.pagination {
  @apply inline-flex flex-wrap items-center justify-start;
}

.page > a{
  @apply border bg-white btn leading-tight block text-gray-700 border-white
}

.page > a:hover{
  @apply bg-pink-600 text-white border-pink-600
}

.disabled, .gap {
  @apply border relative block leading-tight bg-white text-gray-500 no-underline py-2 px-3;
  margin-left: -1px;

  pointer-events:none;
}

.page:first-child a, .page:first-child {
  @apply rounded-tl rounded-bl;
}

.page:last-child a, .page:last-child {
  @apply rounded-tr rounded-br;
}

.active {
  @apply border border-pink-700 bg-pink-700 text-white relative block leading-tight no-underline py-2 px-3;
  margin-left: -1px;
}